 /*  nor  */
 body,
 ul,
 li {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 a {
     color: inherit;
     text-decoration: none;
 }

 div {
     display: block;
 }

 *,
 *::after,
 *::before {
     box-sizing: border-box;
 }

 /*  lib  */
 :root {
     --site-width: 1300px;
 }

 .container {
     max-width: var(--site-width);
     margin: 0 auto;
 }

 /*  cus  */